{% extends 'myapp/base.html' %} 

{% block content %}
<div class="row">
  <div class="col-md-9">
    <br></br>
    <h2>カテゴリーリスト</h2>
    <br>
  </div>
</div>
<div class="row">
  {% for category in category_list %}

  <div class="col-md-4">
    <br>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{% url 'myapp:category_detail' category.name_en %}">{{ category.name }}</a>[&nbsp;<small>{{category.post_count}}</small>&nbsp;]</h4>
        <hr>
      {% for post in category.post_set.all|slice:":2" %}
      <p><a href="{% url 'myapp:post_detail' post.id %}" style="color:black">{{ post.title }}</a></p>
      {% endfor %}
      <br>
      <a href="{% url 'myapp:category_detail' category.name_en %}">このカテゴリーの記事をすべて見る</a>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

{% endblock %}