{% extends 'myapp/base.html' %} 

{% block content %}
<div class="row">
  <div class="col-md-9">
    <br></br>
    <h2>Post一覧</h2>
    <br></br>

    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        {% for item in search_list %}
        <tr>
          <td><a href="{% url 'myapp:post_detail' item.pk %}">{{item.title}}</a></td>
          <td>{{item.content}}</td>
          <td>{{item.created_at}}</td>
          <td>{{item.update_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}